@font-face {
  font-family: "Sequel Sans";
  src: url("{{ url_for('static', filename='fonts/Sequel-Sans-Light-Disp.woff2') }}") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sequel Sans";
  src: url("{{ url_for('static', filename='fonts/Sequel-Sans-Roman-Disp.woff2') }}") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sequel Sans";
	src: url("{{ url_for('static', filename='fonts/Sequel-Sans-Medium-Disp.woff2') }}") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sequel Sans";
	src: url("{{ url_for('static', filename='fonts/Sequel-Sans-Semi-Bold-Disp.woff2') }}") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sequel Sans";
	src: url("{{ url_for('static', filename='fonts/Sequel-Sans-Bold-Disp.woff2') }}") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Sequel Sans";
	src: url("{{ url_for('static', filename='fonts/Sequel-Sans-Black-Disp.woff2') }}") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
